<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>

        <!-- Upload form. Note enctype attribute! -->
        <div style="margin: 0 auto; width:250px;" >
            <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>

                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>

                <p><input type="submit" value="Upload"/></p>
            </form>
        </div>
        <br><br>
        <div>
{% if lis %}
<figure style="display: inline-block;">
  <p>        <img src="{{ lis.2 }}" height="200" width="200" hspace="40"> 

  <figcaption>The input image which is to be encrypted.</figcaption>
</figure>

<figure style="display: inline-block;">
  <p>        <img src="{{ lis.1 }}" height="200" width="200" hspace="40"> 

  <figcaption>The first secret share generated</figcaption>
</figure>

<figure style="display: inline-block;">
  <p>        <img src="{{ lis.0 }}" height="200" width="200" hspace="40"> 

  <figcaption>The second secret share generated</figcaption>
</figure>
        

<figure style="display: inline-block;">
  <p>        <img src="{{ lis.3 }}" height="200" width="200" hspace="40"> 

  <figcaption>XOR output is showing more contrast</figcaption>
</figure>


<figure style="display: inline-block;">
  <p>        <img src="{{ lis.4 }}" height="200" width="200" hspace="40"> 

  <figcaption>OR output is showing less contrast</figcaption>
</figure>
{% endif %}


        </div>
    </body>

</html>